
header * {
    display: inline-block;
}

.logo img {
    margin-top: 10px;
    margin-left: 75px;
    width: 75px;
}

header {
    background: linear-gradient(mediumblue, black);
    width: auto;
    height: auto;
    display: flex;

}

header li {
    margin: 20px;
}

header a:link {
    color: lightgray;
    font-family: bevan;
    text-decoration: none;

}

header a:hover {
    color: red;
}

header a:visited {
    color: dodgerblue;
}

body {
    margin: 0;

    background: linear-gradient(white, black);
}

.slider img {
    width: 100%;
    height: 80%;
}

h1 {
    text-align: center;
    margin-left: 10px;
    font-family: bevan;
}

.article-latest-news {
    background: linear-gradient(white, black);
}

.last-news-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.last-news {
    border-style: ;
}

h2 {

    font-family: bevan;
}




